.maincontaier{
    display: flex;
    justify-content: center;
}
#container-cards {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 400px;
    justify-content: center;
}

.card{
    display: flex;
    border-style: groove;
    width: 100px;
    height: 90px;
    padding: 20px;
    margin: 20px;
    justify-content: center;
    text-align: center;
}

